# cores
anyio >= 3.4.0, < 4
aiofiles
databases[sqlite]
httpx
python-multipart
types-ujson
ujson

# session 
itsdangerous

# graphql
graphql-core < 3
graphene

# schema
pyyaml

# Databases
sqlalchemy >= 1.0, < 2.0.0

## postgresql 
asyncpg
psycopg2-binary

## mysql
aiomysql
pymysql
cryptography

# Testing
flake8
mypy
pytest
pytest-asyncio
coverage >= 5.3
pytest-timeout
pytest-benchmark
typing_extensions==4.2.0
types-requests==2.26.3
types-contextvars==2.4.7
types-PyYAML==6.0.4
types-dataclasses==0.6.6


# Documentation
mkautodoc
mkdocs
mkdocs-material

# Developing
bandit
black
isort
pylint

# Packaging
twine
wheel
