# cores
anyio >= 3.4.0, < 4
aiofiles
databases[sqlite]
python-multipart
requests
types-ujson
ujson

# session 
itsdangerous

# graphql
graphql-core < 3
graphene

# schema
pyyaml

# Databases
sqlalchemy >= 1.0, < 2.0.0

## postgresql 
asyncpg
psycopg2-binary

## mysql
aiomysql
pymysql
cryptography

# Testing
mypy
pytest
pytest-asyncio
coverage >= 5.3
pytest-timeout
pytest-benchmark
flake8

# Documentation
mkautodoc
mkdocs
mkdocs-material

# Developing
bandit
black
isort
pylint

# Packaging
twine
wheel
