# cores
anyio >= 4.0, < 5
aiofiles
databases[sqlite]
httpx
python-multipart
types-ujson
ujson
trio==0.22.1

# session 
itsdangerous

# graphql
graphql-core < 3
graphene

# schema
pyyaml

# Databases
sqlalchemy >= 1.0, < 2.0.0

## postgresql 
asyncpg
psycopg2-binary

## mysql
aiomysql
pymysql
cryptography

# Testing
coverage >= 5.3
mypy
importlib-metadata
pytest
pytest-asyncio
pytest-benchmark
pytest-timeout
types-contextvars==2.4.7
types-dataclasses==0.6.6
types-PyYAML==6.0.4
types-requests==2.26.3
typing_extensions==4.2.0


# Documentation
mkautodoc
mkdocs
mkdocs-material

# Developing
bandit
black
pylint
ruff

# Packaging
twine
wheel
